<div class="section4 block">
<div class="container">
<h2 class="text-align ">MOODLE ONGOING MAINTENANCE PLAN</h2>
<div>
<div style="text-align: right;">

<a class="termpop" href="#myModal"><img src="assets/images/faq-button.png" alt="faq-button" /></a>

</div>
<div class="clear"></div>
<div id="myBtnContainer"><!-- Nav tabs -->
<!--
<ul class="nav nav-tabs" role="tablist">
 	<li class="active" role="presentation"><a role="tab" href="#home" aria-controls="home" data-toggle="tab">Monthly</a></li>
 	<li class="tab2" role="presentation"><a role="tab" href="#profile" aria-controls="profile" data-toggle="tab">Quarterly</a></li>
</ul>
--></div>
<!-- Tab panes -->
<div class="tab-content">
<div id="home" class="tab-pane active" role="tabpanel">
<div class="pricing-sec">
<div class="columns"><form action="http://palinfocom.com/support-sign-up/" method="post">
<ul class="price">
 	<li class="header">
<div><img src="assets/images/blue-icon.png" alt="alt" /></div>
<div class="sky">SILVER</div>
<div>Free</div>
<div><small>Per Month</small></div>
<div class="card-tex"><small style="color: #000;"><i>*No Credit Card Required</i></small></div></li>
 	<li>2 Support Hours</li>
 	<li>Response Within 24 Working Hours</li>
 	<li>1 Site Supported</li>
 	<li>No Bonus, Sorry</li>
</ul>
<div class="colum-btn"><input class="button sky-btn" name="silver_sub" type="submit" value="SignUp" /></div>
</form></div>
<div class="columns gold-colum"><form action="http://palinfocom.com/support-sign-up/" method="post">
<ul class="price">
 	<li class="header">
<div>

<img src="assets/images/purple-icon.png" alt="alt" />
<div>
<div class="gold">GOLD</div>
<div>$ 150</div>
<div><small>Per Month</small></div>
<div class="card-tex"><small style="color: #000;"><i>*Secure checkout</i></small></div>
</div>
</div></li>
 	<li>7.5 Support Hours</li>
 	<li>Response Within 8 Working Hours</li>
 	<li>1 Site Supported</li>
 	<li>No Bonus, Sorry</li>
</ul>
<div class="colum-btn"><input class="button purpel-btn" name="gold_sub" type="submit" value="SignUp" /></div>
</form></div>
<div class="columns"><form action="http://palinfocom.com/support-sign-up/" method="post">
<ul class="price">
 	<li class="header">
<div><img src="assets/images/platimun.png" alt="alt" /></div>
<div class="platnim">PLATINUM</div>
<div>$ 250</div>
<div><small>Per Month</small></div>
<div class="card-tex"><small style="color: #000;"><i>*Secure checkout</i></small></div></li>
 	<li>13 Support Hours</li>
 	<li>Response Within 8 Working Hours</li>
 	<li>1 Site Supported</li>
 	<li>1 Bonus Hour Per Month</li>
</ul>
<div class="colum-btn"><input class="button green-btn" name="platinum_sub" type="submit" value="SignUp" /></div>
</form></div>
<div class="columns"><form action="http://palinfocom.com/support-sign-up/" method="post">
<ul class="price">
 	<li class="header">
<div><img src="assets/images/diamond.png" alt="alt" /></div>
<div class="diamond">Diamond</div>
<div>$ 400</div>
<div><small>Per Month</small></div>
<div class="card-tex"><small style="color: #000;"><i>* Secure checkout</i></small></div></li>
 	<li>23.5 Support Hours</li>
 	<li>Response Within 4 Working Hours</li>
 	<li>2 Sites Supported</li>
 	<li>2.5 Bouns Hour Per Month</li>
</ul>
<div class="colum-btn"><input class="button brown" name="diamond_sub" type="submit" value="SignUp" /></div>
</form></div>
<div class="clear"></div>
</div>
</div>


</div>


</div>
</div>
</div>
