<div><img src="assets/images/elearning-support_fuwdr7.png" class="as-banner" /></div>
<div class="orange-bar">
<ul>
<li><img src="assets/images/support-icon.png"/></li>
<li><img src="assets/images/support-icon2.png"/></li>
<li><img src="assets/images/support-icon3.png"/></li>
<li><img src="assets/images/support-icon4.png"/></li>
<li><img src="assets/images/support-icon5.png"/></li>
<li><img src="assets/images/support-icon6.png"/></li>
<li><img src="assets/images/support-icon7.png"/></li>
</ul>
</div>