<div class="section1 block">
<div class="container">
<h2>DO WE NEED ONGOING MAINTENANCE?</h2>
<div class="mT25">
<div class="col-md-8 col-sm-6 float-left no-padding">
<p>Ever wonder about maintaining your Moodle LMS site? Well, no business is perfect. A going business always comes up with little hiccups here and there. In addition, Moodle LMS keeps coming up with new versions, security patches etc. So support is an essential part of any business to keep going.</p>
<p>PAL InfoCom's cost-effective ongoing Moodle maintenance support could come handy if you are seriously working to grow your eLearning business or service. Leave your day to day worries on us and go-fishing.</p>
<div class="ongoing-list">
<p class="ptext"><b>We will take responsibility to:</b></p>
<ul style="margin-top: 10px;">
<li>Keep your Moodle up to date</li>
<li>Apply any security or other patches</li>
<li>Hold your hand for any operational support</li>
<li>Help Configure the rules &amp; plugins</li>
</ul>
<div style="text-align: right; font-size:12px;"><i>And many more services</i></div>
</div>

</div>
<div class="col-md-4 col-sm-6 float-left no-padding">
<img src="assets/images/online-image.png"/>
</div>
</div>


</div>
</div>
