<div class="section3 block">
<div class="container">
<h2 class="text-align white01">OUR SERVICES SCOPE</h2>
<div class="col-md-4 float-left">
<div class="services-colum">
<img src="assets/images/new-icon1.png"/>
<h6>PLUGINS / BLOCKS CONFIGURATION</h6>
</div>
</div>
<div class="col-md-4 float-left">
<div class="services-colum">
<img src="assets/images/new-icon2.png"/>
<h6>PLUGINS / BLOCKS CONFIGURATION</h6>
</div>
</div>
<div class="col-md-4 float-left">
<div class="services-colum">
<img src="assets/images/new-icon3.png"/>
<h6>PLUGINS / BLOCKS CONFIGURATION</h6>
</div>
</div>
<div class="col-md-4 float-left">
<div class="services-colum">
<img src="assets/images/new-icon4.png"/>
<h6>PLUGINS / BLOCKS CONFIGURATION</h6>
</div>
</div>
<div class="col-md-4 float-left">
<div class="services-colum">
<img src="assets/images/new-icon5.png"/>
<h6>PLUGINS / BLOCKS CONFIGURATION</h6>
</div>
</div>
<div class="col-md-4 float-left">
<div class="services-colum">
<img src="assets/images/new-icon6.png"/>
<h6>PLUGINS / BLOCKS CONFIGURATION</h6>
</div>
</div>
<div class="col-md-4 float-left">
<div class="services-colum no-margin">
<img src="assets/images/new-icon7.png"/>
<h6>PLUGINS / BLOCKS CONFIGURATION</h6>
</div>
</div>
<div class="col-md-4 float-left">
<div class="services-colum no-margin">
<img src="assets/images/new-icon8.png"/>
<h6>PLUGINS / BLOCKS CONFIGURATION</h6>
</div>
</div>
<div class="col-md-4 float-left">
<div class="services-colum no-margin">
<img src="assets/images/new-icon9.png"/>
<h6>PLUGINS / BLOCKS CONFIGURATION</h6>
</div>
</div>
</div>
</div>