.section3{
background-color:#163b54;	
}
.text-align{text-align:center;}
.white01{color:#fff;}
.services-colum {
    text-align: center;
    color: #fff; margin-bottom:81px;
}
.section3 h2 {
    margin-bottom: 75px;
}
.services-colum h6 {
    margin-top: 23px;
}
.no-margin{margin-bottom:0;}